html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
	font-family: 'bige';
	src: url(https://lingme.github.io/font/rzbg2.woff2);
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

#head_img {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	padding: 10px;
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.fa {
	font-size: 2em;
	opacity: 0.9;
	cursor: pointer;
}

.margin-nav-p {
	font-family: 'bige';
	margin-top: 5px;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after {
	content: '';
	content: none;
}

q:before,
q:after {
	content: '';
	content: none;
}

body {
	width: 100%;
	*zoom: 1;
}

body:before,
body:after {
	content: '';
	display: table;
}

body:after {
	clear: both;
}

html,
body {
	height: 100%;
}

html {
	height: 100%;
	max-height: 100%;
}

body {
	/*font-family: "Raleway", sans-serif;*/
	font-family: 'Raleway', Verdana, sans-serif, serif, 'Droid Serif', Helvetica Neue, Helvetica, Arial;
	font-size: 1em;
	color: #666666;
}

::selection {
	background: #fae3df;
}

::-moz-selection {
	background: #fae3df;
}

a {
	text-decoration: none;
	color: #006699;
}

a:hover {
	color: green;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h5 {
	margin-top: 0.8em;
	margin-bottom: 0.4em;
	/*font-family: "Roboto Slab", serif;*/
	font-family: 'Raleway', Verdana, sans-serif, serif, 'Droid Serif', Helvetica Neue, Helvetica, Arial;
	font-weight: lighter;
	color: #333333;
	-webkit-font-smoothing: antialiased;
}

h1 {
	margin-top: 0;
	font-size: 3.2em;
	line-height: 1.2em;
	letter-spacing: 0.05em;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

p {
	margin-bottom: 1.3em;
	line-height: 1.7em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

blockquote {
	margin: 1em 0;
	padding: 1em 0;
	background: #f8f8f8;
	border: 1px solid #eeeeee;
	border-radius: 3px;
	/*font-family: "Roboto Slab", serif;*/
	font-family: 'Raleway', Verdana, sans-serif, serif, 'Droid Serif', Helvetica Neue, Helvetica, Arial;
	font-weight: lighter;
	font-style: italic;
	font-size: 1em;
	/*text-align: center;*/
}

blockquote p:last-child {
	margin-bottom: 0;
}

ol,
ul {
	margin: 0 0 1.3em 2.5em;
}

ol li,
ul li {
	margin: 0 0 0.2em 0;
	line-height: 1.6em;
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin: 0.1em 0 0.2em 2em;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

code {
	padding: 2px 4px;
	background-color: #f8f8f8;
	color: #d14;
	border: none;
	word-wrap: break-word;
	border-radius: 3px;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-size: 0.85em;
}

.date,
.time,
.author,
.tags {
	font-size: 0.8em;
	color: #c7c7c7;
}

.date a,
.time a,
.author a,
.tags a {
	color: #666666;
}

.date a:hover,
.time a:hover,
.author a:hover,
.tags a:hover {
	color: #006699;
}

.excerpt {
	margin: 0;
	font-size: 0.9em;
	color: #999999;
}

.intro {
	font-family: 'Roboto Slab', serif;
	font-size: 1.2em;
	font-weight: lighter;
	color: #999999;
}

.block-heading {
	display: inline;
	float: left;
	width: 940px;
	margin: 0 10px;
	position: relative;
	bottom: -15px;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.label {
	position: relative;
	display: inline-block;
	padding: 8px 18px 9px 18px;
	background: #006699;
	border-radius: 3px;
	text-align: center;
	color: #fff;
}

.container {
	position: relative;
	z-index: 500;
	width: 940px;
	margin: 0 auto;
}

.content-wrapper {
	z-index: 800;
	width: 68%;
	max-width: 960px;
	margin-left: 32%;
}

.content-wrapper__inner {
	margin: 0 10%;
	padding: 50px 0;
}

.footer {
	display: block;
	padding: 2em 0 0 0;
	border-top: 2px solid #dddddd;
	font-size: 0.7em;
	color: #b3b3b3;
}

.footer__copyright {
	display: block;
	margin-bottom: 0.7em;
}

.footer__copyright a {
	color: #a6a6a6;
	text-decoration: underline;
}

.footer__copyright a:hover {
	color: #006699;
}

.avatar,
.logo {
	border-radius: 50%;
	border: 3px solid #fff;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

hr {
	border: none;
}

.section-title__divider {
	width: 30%;
	margin: 2.2em 0 2.1em 0;
	border-top: 1px solid #dddddd;
}

.hidden {
	display: none !important;
}

.post-comments {
	border-top: 1px solid #dddddd;
	padding: 60px 0;
}

.post-meta {
	margin: 0 0 1.4em 0;
	color: #c7c7c7;
}

.post-meta__date {
	margin-right: 0.5em;
}

.post-meta__tags {
	margin-left: 0.4em;
}

.post-meta__author {
	margin-left: 1.5em;
}

.post-meta__avatar {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 0.3em -0.4em 0;
	border: none;
	box-shadow: none;
}

.post img {
	max-width: 100%;
	margin: 0 auto;
	border-radius: 3px;
	text-align: center;
}

.post hr {
	display: block;
	width: 30%;
	margin: 2em 0;
	border-top: 1px solid #dddddd;
}

.panel {
	display: table;
	width: 100%;
	height: 100%;
}

.panel__vertical {
	display: table-cell;
	vertical-align: middle;
}

/* .panel-title {
  margin: 0 0 5px 0;
  font-size: 2.5em;
  letter-spacing: 4px;
  color: #FFF;
} */

.panel-subtitle {
	font-family: 'Roboto Slab', serif;
	font-size: 1.2em;
	font-weight: lighter;
	letter-spacing: 3px;
	color: #cccccc;
	-webkit-font-smoothing: antialiased;
}

.panel-cover--collapsed {
	width: 32%;
	max-width: 430px;
}

.panel-cover__logo {
	margin-bottom: 0.2em;
}

.panel-cover__description {
	font-size: 1.4em;
	font-family: bige;
	margin: 0 30px;
	color: #1a1a1a;
}

.panel-cover__divider {
	width: 40%;
	margin: 20px auto;
	border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.panel-cover__divider--secondary {
	width: 20%;
}

.panel-main {
	display: table;
	width: 100%;
	height: 100%;
}

.margin-navigation-button {
	margin-top: 50px;
	width: 70px;
	height: 60px;
	cursor: pointer;
	padding: 0 20px 0 20px;
	display: inline-block;
	color: #1a1a1a;
}

.margin-navigation-button i {
	color: #4e4e4e;
}

.margin-navigation-button:hover {
	margin-top: -10px;
	transition-duration: 300ms;
}

.panel-main__inner {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 800;
	padding: 0 60px;
}

.panel-main__content {
	max-width: 820px;
	margin: 0 auto;
}

.panel-main__content--fixed {
	width: 480px;
	transition: width 1s;
	-webkit-transition: width 1s;
	/* Safari */
}

.panel-inverted {
	font-weight: 100;
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.panel-inverted a {
	color: #fff;
}

.cover-navigation {
	margin-top: 40px;
}

.cover-navigation--social {
	margin-left: 30px;
}

.cover-disabled {
	background: none;
}

.btn,
.navigation__item a {
	padding: 10px 20px;
	border: 1px solid #006699;
	border-radius: 20px;
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: none;
	color: #006699;
	-webkit-font-smoothing: antialiased;
}

.btn:hover,
.navigation__item a:hover {
	color: #006699;
	border-color: #006699;
}

.btn-secondary {
	border-color: #5ba4e5;
	color: #5ba4e5;
}

.btn-secondary:hover {
	color: #217fd2;
	border-color: #217fd2;
}

.btn-tertiary {
	border-color: #999999;
	color: #999999;
}

.btn-tertiary:hover {
	color: #737373;
	border-color: #737373;
}

.btn-large {
	padding: 10px 24px;
	font-size: 1.1em;
}

.btn-small {
	padding: 8px 12px;
	font-size: 0.7em;
}

.btn-mobile-menu {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 42px;
	background: rgba(13, 71, 77, 0.98);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	text-align: center;
}

.btn-mobile-menu__icon,
.btn-mobile-close__icon {
	position: relative;
	top: 3px;
	font-size: 36px;
	color: #fff;
}

nav {
	display: inline-block;
	position: relative;
}

.navigation {
	display: inline-block;
	float: left;
	position: relative;
	margin: 0;
	list-style-type: none;
}

.navigation__item {
	display: inline-block;
	margin: 3px 3px;
	line-height: 1em;
}

.navigation__item a {
	display: block;
	position: relative;
	border-color: #fff;
	color: #fff;
	opacity: 0.8;
}

.navigation__item a:hover {
	color: #fff;
	border-color: #fff;
	opacity: 1;
}

.navigation--social {
	margin-left: 0em;
}

.navigation--social a {
	padding: 6px 8px 6px 9px;
}

.navigation--social a .label {
	display: none;
}

.navigation--social a .icon {
	display: block;
	font-size: 1.7em;
}

.pagination {
	display: block;
	margin: 0 0 4em 0;
}

.pagination__page-number {
	margin: 0;
	font-size: 0.8em;
	color: #999999;
}

.pagination__newer {
	margin-right: 1em;
}

.pagination__older {
	margin-left: 1em;
}

i {
	font-family: 'entypo';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
}

.icon-social {
	font-family: 'entypo-social';
	font-size: 22px;
	display: block;
	position: relative;
}

.post-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
}

.post-list li {
	margin: 0 0 2.2em 0;
}

.post-list li:last-child hr {
	display: none;
}

.post-list__post-title {
	margin-top: 0;
	margin-bottom: 0.2em;
	font-size: 1.8em;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	line-height: 1.3em;
}

.post-list__post-title a {
	color: #333333;
}

.post-list__post-title a:hover {
	color: #006699;
}

.post-list__meta {
	display: block;
	margin: 0.7em 0 0 0;
	font-size: 0.9em;
	color: #c7c7c7;
}

.post-list__meta--date {
	margin-right: 0.5em;
	color: #c7c7c7;
}

.post-list__meta--tags {
	margin-left: 0.5em;
}

.post-list__divider {
	width: 30%;
	margin: 2.2em 0 2.1em 0;
	border-top: 1px solid #dddddd;
}

*:focus {
	outline: none;
}

input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'] {
	width: 240px;
	padding: 1em 1em;
	background: #fff;
	border: 1px solid #dddddd;
	border-radius: 3px;
	font-size: 0.9em;
	color: #666666;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus {
	border-color: #5ba4e5;
}

input[type='text']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
input[type='datetime']::-webkit-input-placeholder,
input[type='datetime-local']::-webkit-input-placeholder,
input[type='date']::-webkit-input-placeholder,
input[type='month']::-webkit-input-placeholder,
input[type='time']::-webkit-input-placeholder,
input[type='week']::-webkit-input-placeholder,
input[type='number']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='url']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder {
	color: #cccccc;
}

input[type='text']:-moz-placeholder,
input[type='password']:-moz-placeholder,
input[type='datetime']:-moz-placeholder,
input[type='datetime-local']:-moz-placeholder,
input[type='date']:-moz-placeholder,
input[type='month']:-moz-placeholder,
input[type='time']:-moz-placeholder,
input[type='week']:-moz-placeholder,
input[type='number']:-moz-placeholder,
input[type='email']:-moz-placeholder,
input[type='url']:-moz-placeholder,
input[type='search']:-moz-placeholder,
input[type='tel']:-moz-placeholder {
	color: #cccccc;
}

input[type='text']::-moz-placeholder,
input[type='password']::-moz-placeholder,
input[type='datetime']::-moz-placeholder,
input[type='datetime-local']::-moz-placeholder,
input[type='date']::-moz-placeholder,
input[type='month']::-moz-placeholder,
input[type='time']::-moz-placeholder,
input[type='week']::-moz-placeholder,
input[type='number']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='url']::-moz-placeholder,
input[type='search']::-moz-placeholder,
input[type='tel']::-moz-placeholder {
	color: #cccccc;
}

input[type='text']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
input[type='datetime']:-ms-input-placeholder,
input[type='datetime-local']:-ms-input-placeholder,
input[type='date']:-ms-input-placeholder,
input[type='month']:-ms-input-placeholder,
input[type='time']:-ms-input-placeholder,
input[type='week']:-ms-input-placeholder,
input[type='number']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='url']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder {
	color: #cccccc;
}

/* @media all and (min-width: 1300px) {
  .content-wrapper {
    margin-left: 430px;
  }
}

@media all and (max-width: 1100px) {
  .panel-cover__logo {
    width: 70px;
  }

  .panel-title {
    font-size: 2em;
  }

  .panel-subtitle {
    font-size: 1em;
  }

  .panel-cover__description {
    margin: 0 10px;
    font-size: .9em;
  }

  .navigation--social {
    margin-top: 5px;
    margin-left: 0;
  }
} */

/* add */

table {
	border-collapse: collapse;
	width: 100%;
	margin: 0 0 10px;
	border-spacing: 0;
	border: 1px solid #aaa;
}

table caption {
	font-weight: bold;
	text-align: center;
}

th {
	font-weight: bold;
}

th,
td {
	border: 1px solid #aaa;
	padding: 5px 10px;
	text-align: left;
}

.highlight table {
	border: none;
}

/* ======================================================================================== background */

@-webkit-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}

@-moz-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}

@-o-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}

@keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}

@-webkit-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}

@-moz-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}

@-o-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}

@keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}

#particles-js {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
}

.navigation-wrapper {
	text-align: center;
}

.delay-1 {
	animation-delay: 0.2s;
}

.delay-2 {
	animation-delay: 0.4s;
}

.delay-3 {
	animation-delay: 0.6s;
}

.delay-4 {
	animation-delay: 0.8s;
}

.delay-5 {
	animation-delay: 1s;
}

.delay-6 {
	animation-delay: 1.2s;
}

.delay-7 {
	animation-delay: 1.5s;
}
